# Виртуальное окружение
**/.venv/
*/.venv/
venv/
.venv/
env/

# Кэш Python
__pycache__/
*.pyc

# Конфиденциальные данные
.env

# Логи и папка IDE
.vscode/
.idea/

# Игнорируем локальную базу данных
*.db
*.sqlite3